
body{
    background: darkblue;
}


#logOutbutton{
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    float: right;
}

#adicionarsala{
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    float: center;
}

#userid{
    color: white;
}

input{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#salas{
    color: whitesmoke;
}